{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

{% endblock  %}
{% block 'body' %}
    <div class="container"> 
        <div class="">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <h1>Converter arquivo JSON para CSV</h1>
                {% if messages %}
                        {% for message in messages %}
                            <div style="color:red" class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="customRange2" class="form-label">Selecione seu arquivo JSON</label><br>
                    <input type="file" name="myfile" />
                </div>
                
                {% if uploaded_file_url %}
                    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                {% endif %}
                
                <button type="submit" class="btn btn-primary">Converter</button>
                
            </form>
            
        </div>
    </div>
{% endblock %}